/* Ícones */
#div-icones-contatos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 2vh;
    flex-direction: row;
    font-size: 30px;
    color: var(--cor-primaria);
}

#div-icones-contatos a{
    color: var(--cor-primaria);
}

.icones-contatos {
    color: var(--cor-primaria);
    margin-right: 3vw;
}

.icones-contatos:hover {
    color: var(--cor-secundaria);
    transition: ease-in-out 0.2s;
}

/* Formulário */
.formularioContato { 
    max-width: 600px; 
    height:auto; 
    margin-top: 5vh;
    padding: 20px 20px; 
    border-radius: 30px; 
    background: var(--cor-primaria); 
    box-shadow: 2px 2px 6px #0f0f0f34;
}

.formularioContato:before { 
    width:0; 
    height:0; 
    border:15px solid transparent; 
    border-bottom-color: var(--cor-primaria); 
    content:""; 
    position:absolute; 
    left:6%; 
    top:-4.5%; 
    margin-top:-4px; 
    margin-left:6px; 
    z-index:2;
}

.formularioContato h3 {
    color: var(--cor-branca);
    text-align: center;
    margin-top: 1vh;
    font-weight: bolder;
    font-size: 30px;
}

.formularioContato label  { 
    float:left; 
    width:100%; 
    margin-bottom:1.2em; 
}

.formularioContato label span {
    width: 100%;
    float: left;
    font-weight: bold;
    color: var(--cor-branca);
    margin-bottom: 6px;
    font-family: 'Poppins', sans-serif; 
}

.formularioContato label input  { 
    font-size:1em; 
    color: var(--cor-preta); 
    font-family: 'Poppins', sans-serif; 
    outline:none; 
    border:1px var(--cor-branca) solid; 
    border-radius: 10px; 
    padding:0.6em; 
    transition: 0.3s;  
    width: 60%;
    outline: none
}

.formularioContato label textarea { 
    font-size:1em; 
    color: var(--cor-preta);
    padding: 6px; 
    border:1px var(--cor-branca) solid; 
    border-radius: 10px; 
    width: 99%;
    height: 200px;
    outline:none;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif; 
    resize: none; 
    outline: none
}

.formularioContato button.btn-envia { 
    background: var(--cor-branca);
    width: 60%; 
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0;
    display:block; 
    margin-top: 0;
    margin: auto; 
    cursor:pointer; 
    border-radius: 10px;  
    padding: 6px 0;
    color:var(--cor-primaria); 
    font-size:1.3em; 
    font-family: 'Poppins', sans-serif; 
    text-align: center;
    transition: 0.3s;   
}

.formularioContato button.btn-envia:hover { 
    opacity: 90%;
}

@media (max-width: 1080px)
    {
        .formularioContato {
            width: 80%;;
        }

        .formularioContato label textarea { 
            width: 99%;
        }

        .formularioContato label input { 
            width: 99%;
        }
    }