#primeira-apresentacao {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 5vh 0;
}

#texto-abertura {
    max-width: 36vw;
    font-size: 20px;
    text-align: left;
    color: var(--cor-primaria);
}

#img-apresentacao {
    width: 29vw;
}

#titulo-apresentacao {
    color: var(--cor-primaria);
    font-weight: bolder;
    font-size: 26px;
    margin-bottom: 2vh;
}

#destaque-apresentacao {
    font-weight: bolder;
}

#segunda-apresentacao {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    margin: 5vh 0;
}

#segunda-apresentacao p {
    text-align: right;
}

#logo {
    width: 29vw;
}

#botao-ajuda {
    text-decoration: none;
    color: var(--cor-branca);
    background-color: var(--cor-primaria);
    padding: 1vh 2vw;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10px;
}

#botao-ajuda:hover {
    opacity: 80%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

@media (max-width: 1080px) {
    #primeira-apresentacao {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 2vh 0;
    }

    #texto-abertura {
        max-width: 90%;
        font-size: 14px;
    }

    #img-apresentacao {
        width: 60vw;
        padding-bottom: 5vh;
    }

    #segunda-apresentacao {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 5vh 0;
    }

    #logo {
        width: 60vw;
        padding-bottom: 5vh;
    }
}
