header{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--cor-primaria);
	color: var(--cor-branca);
}

header .logo{
	color: #fff;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

header .logo img{
	width: 60px;
}

nav a{
	margin: 0 1rem;
	color: var(--white-color);
	text-decoration: none;
	transition: ease all .5s;
}

nav a:hover{
	border-bottom: 1px solid #fff;
}

header .nav_btn{
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	display: none;
	font-size: 1.3rem;
}

header div, nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	header{
		justify-content: space-between;
	}

	header .nav_btn{
		display: block;
	}

	header nav{
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--cor-primaria);
		transition: 1s;
		z-index: 1000;
	}

	header .responsive_nav{
		transform: translateY(100vh);
	}

	nav .nav_close_btn{
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a{
		font-size: 1.2rem;
	}

	header .logo img{
		width: 40px;
	}
}