#primeira-apresentacao {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 5vh 0;
}

#texto-abertura {
    max-width: 36vw;
    font-size: 20px;
    text-align: left;
    color: var(--cor-primaria);
}

#img-apresentacao {
    width: 29vw;
}

#titulo-apresentacao {
    color: var(--cor-primaria);
    font-weight: bolder;
    font-size: 26px;
    margin-bottom: 2vh;
}

#destaque-apresentacao {
    font-weight: bolder;
}

/* ===Separação=== */
#segunda-apresentacao {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--cor-branca);
    margin: 5vh 0;
}

.botoes-areas {
    width: 30vw;
    padding: 5vh 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    background-color: var(--cor-branca);
    box-shadow: 2px 2px 10px var(--cor-secundaria);
    border-radius: 20px;
    font-size: 20px;
    color: var(--cor-secundaria);
    border: 0;
    text-decoration: none;
}

.botoes-areas:hover {
    background-color: var(--cor-secundaria);
    cursor: pointer;
    transition: ease-in-out 0.2s;
    color: var(--cor-branca);
}

.imgs-segunda-apresentacao {
    font-size: 50px;
}

/* ===Separação=== */

.todos-cards-frases {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.titulos-frases {
    margin: 8vh 0;
    color: var(--cor-secundaria);
    font-weight: bolder;
}

@media (max-width: 1080px) {
    #segunda-apresentacao {
        width: 100%;
        margin: 1vh 1vw;
        display: flex;
        align-items: start;
        justify-content: space-evenly;
    }

    .botoes-areas {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        width: 90%;
        margin: 1vh 2vw;
        font-size: 13px;
    }

    .imgs-segunda-apresentacao {
        font-size: 50px;
    }
}
